.s-hero {
  position: relative;
  z-index: 2;
  .slide-principal {
    width: 100%;
    height: 73.6rem;
    .swiper-wrapper {
      .swiper-slide {
        padding-top: 20.7rem;
        &.slide-01 {
          background: url('../assets/banner-slide-01.jpg') no-repeat center
            center;
        }
        &.slide-02 {
          background: url('../assets/banner-slide-02.jpg') no-repeat center
            center;
          background-size: cover;
        }
        &.slide-03 {
          background: url('../assets/banner-slide-03.jpg') no-repeat center
            center;
          background-size: cover;
        }

        .container {
          display: flex;
          align-items: flex-start;
          justify-content: space-between;
        }
        .left-content {
          margin-left: 20.8rem;
          width: 100%;
          max-width: 56rem;
          h2 {
            font-weight: bold;
            font-size: 5.4rem;
            line-height: 110.2%;
            color: #ffffff;
            margin-bottom: 1.6rem;
          }
          p {
            font-size: 1.8rem;
            line-height: 27px;
            letter-spacing: -0.005em;
            color: #ffffff;
            margin-bottom: 3.2rem;
          }
          .btn {
            padding: 0 3.8rem;
            line-height: 5.2rem;
          }
        }
        .right-content {
          width: 100%;
          max-width: 29.2rem;
          margin-top: -5.4rem;
          .logo {
            width: 100%;
            max-width: 28rem;
            height: 18rem;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 8.6rem;
          }
          .video {
            width: 100%;
            max-width: 28rem;
            span {
              display: block;
              text-align: right;
              margin-bottom: 1.6rem;
            }

            .btn-video {
              position: relative;
              width: 100%;
              height: 15.8rem;
              border-radius: 4px;
              overflow: hidden;
              display: flex;
              align-items: center;
              justify-content: center;
              .thumb {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: opacity 0.5s;
                &:hover {
                  &.default {
                    opacity: 0;
                  }
                  &.hover {
                    opacity: 1;
                  }
                }
                &.default {
                  opacity: 1;
                }
                &.hover {
                  opacity: 0;
                }
              }
              .icon {
                position: relative;
                z-index: 4;
                width: 5.1rem;
                height: 5.1rem;
                background: linear-gradient(
                  136.72deg,
                  rgba(7, 7, 10, 0.86) 19.22%,
                  rgba(15, 16, 22, 0.5) 76.59%
                );
                backdrop-filter: blur(3px);
                border-radius: 159px;

                display: flex;
                justify-content: center;
                align-items: center;
              }
            }
          }
        }
      }
    }
  }
  .slide-thumbnail {
    position: absolute;
    top: 21rem;
    left: 3rem;
    z-index: 2;
    height: 32rem;
    .swiper-wrapper {
      .swiper-slide {
        max-width: 4.8rem;
        height: 4.8rem;
        cursor: pointer;
        opacity: 0.4;
        filter: grayscale(100%);
        &.disable {
          pointer-events: none;
        }
        &.swiper-slide-thumb-active {
          opacity: 1;
          filter: grayscale(0%);
        }
      }
    }
  }
  .swiper-progress-bar {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    display: block;
    z-index: 3;
    &.active {
      .slide-progress-bar {
        opacity: 1;
      }
    }
    &.animate {
      .slide-progress-bar {
        &:after {
          width: 100%;
          transition: width 3.5s linear;
        }
      }
    }
    .slide-progress-bar {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      width: auto;
      height: 3px;
      opacity: 0;
      display: block;
      &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;

        background-color: $light-blue;
        height: 100%;
        width: 0;
        transition: width 0.1s linear;
      }
    }
  }
  @media (max-width: 1200px) {
    .slide-thumbnail {
      left: 1%;
    }
  }
  @media (max-width: 991px) {
    .slide-principal {
      .swiper-wrapper {
        .swiper-slide {
          &.slide-02 {
            .left-content {
              max-width: 46.2rem;
            }
            h2 {
              font-size: 5.8rem;
            }
          }
          .left-content {
            margin-left: 0;
            h2 {
              font-size: 6.4rem;
            }
          }
          .right-content {
            position: absolute;
            right: 0;
            .logo {
              margin-top: -5.3rem;
              margin-bottom: 21rem;
            }
          }
        }
      }
    }
    .slide-thumbnail {
      left: 1.5rem;
      top: initial;
      bottom: 10.5rem;
      height: 4.8rem;
    }
  }
  @media (max-width: 560px) {
    .slide-principal {
      height: 62rem;
      .swiper-wrapper {
        .swiper-slide {
          padding-top: 13.1rem;
          &.slide-01 {
            background-position-x: 40%;
            h2 {
              max-width: 26rem;
            }
          }
          &.slide-02 {
            background-position-x: 63%;
            .left-content {
              h2 {
                font-size: 4rem;
              }
              p {
                max-width: 30.5rem;
                font-size: 1.6rem;
              }
            }
          }
          &.slide-03 {
            background-position-x: 60%;
            .left-content {
              h2 {
                max-width: 31rem;
              }
              p {
                max-width: 26rem;
              }
            }
          }
          .left-content {
            h2 {
              font-size: 4rem;
            }
          }
          .right-content {
            display: none;
          }
        }
      }
    }
    .slide-thumbnail {
      bottom: 65px;
    }
  }
}

.s-games {
  margin-bottom: 10.7rem;
  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 8.9rem;
    margin-bottom: 8.8rem;

    .left-top {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      width: 100%;
      max-width: 39.9rem;
      span {
        font-weight: 600;
        font-size: 1.5rem;
        line-height: 2.2rem;
        color: #8f9199;
        margin-top: 1.1rem;
      }
      h2 {
        font-weight: 700;
        font-size: 3.2rem;
        line-height: 110.2%;
        color: #ffffff;
        width: 100%;
        max-width: 17.5rem;
      }
    }
    .right-top {
      width: 100%;
      max-width: 75.2rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      ul {
        display: flex;
        align-items: center;
        gap: 2.4rem;
        li {
          a {
            img {
              opacity: 0.5;
              transition: opacity 0.3s;
            }
            &.active {
              img {
                opacity: 1;
              }
            }
          }
        }
      }
      .btn-all-games {
        display: flex;
        align-items: center;
        font-family: 'Poppins';
        font-weight: 600;
        font-size: 1.6rem;
        line-height: 2.4rem;
        color: $light-blue;
        img {
          margin-right: 1rem;
        }
      }
    }
  }
  .tab-games-content {
    .tab-pane-games {
      display: none;
      &.active {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 4.7rem 3.2rem;
        animation: fadeUp 0.4s forwards;
      }
      .card-all-games {
        width: 100%;
        max-width: 28rem;
        height: 38.4rem;
        border: 1px solid #212428;
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        span {
          display: flex;
          align-items: center;
          margin-top: 3.8rem;
          img {
            margin-right: 1.3rem;
          }
        }
      }
    }
  }
  @media (max-width: 991px) {
    .top {
      .right-top {
        justify-content: flex-end;
        margin-top: 3rem;
        .js-nav-games {
          display: none;
          a {
            font-size: 1.4rem;
          }
        }
      }
    }
    .tab-games-content {
      .tab-pane-games {
        &.active {
          .game-card {
            .image {
              height: 21.3rem;
            }
          }
        }
      }
    }
  }
  @media (max-width: 768px) {
    .tab-games-content {
      .tab-pane-games {
        &.active {
          grid-template-columns: repeat(3, 1fr);
          grid-gap: 4.1rem 3.2rem;
          .game-card {
            .image {
              height: 21.3rem;
            }
          }
        }
        .card-all-games {
          height: 30.4rem;
        }
      }
    }
  }
  @media (max-width: 560px) {
    .top {
      margin-bottom: 5.7rem;
      .left-top {
        span {
          display: none;
        }
        h2 {
          max-width: 15.3rem;
          font-size: 2.8rem;
        }
      }
      .right-top {
        justify-content: flex-end;
        margin-top: 3rem;
        .js-nav-games {
          display: none;
          a {
            font-size: 1.4rem;
          }
        }
      }
    }
    .tab-games-content {
      .tab-pane-games {
        &.active {
          grid-template-columns: repeat(2, 1fr);
          grid-gap: 1.7rem 3.2rem;
          .game-card {
            .image {
              height: 21.3rem;
            }
          }
        }
        .card-all-games {
          height: 30.4rem;
        }
      }
    }
  }
}
.s-download {
  width: 100%;
  height: 89.2rem;
  display: flex;
  background: url(../assets/bg-download.png) no-repeat center center;

  .container {
    .text-left {
      padding-top: 13.2rem;
      width: 39.3rem;
      height: 36.8rem;
      h2 {
        font-family: 'Poppins';
        font-weight: 700;
        font-size: 3.2rem;
        color: $white;
        margin-block: 3rem;
      }
      ul {
        display: flex;
        gap: 2rem;
        flex-direction: column;
        li {
          display: flex;
          img {
            margin-right: 1.6rem;
          }
          span {
            font-weight: 400;
            font-size: 1.8rem;
            color: $gray-100;
          }
        }
      }
      .btn {
        width: 26.6rem;
        height: 5.2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background: $light-blue;
        border-radius: 4px;
        margin-top: 3.9rem;
        margin-bottom: 4.7rem;

        img {
          margin-right: 0.9rem;
        }
      }
      .info {
        display: flex;
        img {
          margin-right: 1.8rem;
        }
        span {
          text-align: inherit;
          .linha {
            text-decoration: underline;
          }
        }
      }
    }
    .area-right {
      position: relative;
      .image-1 {
        position: absolute;
        right: -26rem;
        top: -27rem;
        animation: float 4s infinite;
      }
      .image-2 {
        position: absolute;
        top: 3.4rem;
        right: -6.1rem;
        animation: float 4.6s infinite;
      }
    }
  }
  @media (max-width: 991px) {
    .container {
      .area-right {
        width: 90.7rem;
        height: 51.9rem;
        .image-1 {
          width: 89.7rem;
          height: 50.6rem;
        }
        .image-2 {
          width: 57.6rem;
          height: 30.6rem;
        }
      }
    }
    @media (max-width: 375px) {
      background-position-x: 10%;
      overflow-y: hidden;
      .container {
        position: relative;
        .text-left {
          padding-top: 6.3rem;
        }
        .area-right {
          margin-top: 40rem;
          .image-1 {
            position: relative;
            width: 52.8rem;
            height: 29.8rem;
            img {
              position: absolute;
              left: -27rem;
            }
          }
          .image-2 {
            position: relative;
            width: 33.6rem;
            height: 18.9rem;
            img {
              position: absolute;
              top: -48rem;
            }
          }
        }
      }
    }
  }
}
.show-modal {
  .modal {
    opacity: 1;
    pointer-events: all;
    .box {
      transform: translateY(0);
    }
  }
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    background-color: hsla(0, 0%, 0%, 0.554);
  }
  .box {
    position: relative;
    z-index: 1;
    width: 100%;
    max-width: 69.9rem;
    height: 60rem;
    background: url('../assets/bg-modal.png') no-repeat #020203 top left;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(50px);
    transition: transform 0.3s;
    .close {
      position: absolute;
      top: 2.4rem;
      right: 2.4rem;
    }
    .logo {
      margin-bottom: 4rem;
      width: 16.6rem;
    }
    form {
      width: 100%;
      max-width: 42.6rem;
      .form-group {
        margin-bottom: 1.6rem;
        &:last-child {
          margin-bottom: 2.4rem;
        }
        input[type='text'],
        input[type='password'] {
          width: 100%;
          height: 4.8rem;
          border-radius: 4px;
          border: none;
          padding: 0px 1.6rem;
          font-weight: 500;
          font-size: 1.5rem;
          line-height: 2.2rem;
          color: #363842;
          &::placeholder {
            opacity: 0.6;
          }
        }
        button {
          width: 100%;
          justify-content: center;
        }
      }
    }
    .others-conect {
      margin-bottom: 3.5rem;
      p {
        text-align: center;
        font-weight: 500;
        font-size: 1.4rem;
        line-height: 21px;
        text-align: center;
        color: $white;
      }
      ul {
        display: flex;
        li {
          &:not(:first-child) {
            margin-left: 1.6rem;
          }
          button {
            width: 4.8rem;
            height: 4.8rem;
            background-color: $white;
            border-radius: 4px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }
    .message-usser {
      p {
        text-align: center;
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 2.4rem;
        color: $white;
        margin-bottom: 1.6rem;
      }
      a {
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 24px;
        text-decoration-line: underline;
        color: $light-blue;
        text-align: center;
        display: block;
        &:hover {
          color: $white;
        }
      }
    }
  }
}
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}
