h1 {
  font-size: 4.4rem;
  line-height: 110.2%;
  color: $white;
}
h3 {
  font-size: 1.3rem;
  line-height: 2rem;
  text-transform: uppercase;
  color: $white;
}
span {
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2.1rem;
  text-align: center;
  color: $white;
}
.btn {
  display: inline-flex;
  align-items: center;
  padding: 0px 1.6rem;
  line-height: 4.1rem;
  border-radius: 3px;
  font-weight: 500;
  font-size: 1.4rem;
  color: #ffffff;
  border: 1px solid transparent;
  transition: color 0.3s, background-color 0.3s;
  &-primary {
    background-color: transparent;
    border-color: $white;
    &:hover {
      background-color: rgba(255, 255, 255, 0.749);
      color: black;
    }
  }
  &-secondary {
    border-color: $light-blue;
    background-color: $light-blue;
    &:hover {
    }
  }
}

.game-card {
  display: block;
  width: 100%;
  max-width: 28rem;
  &:hover {
    .image {
      img {
        transform: scale(1.05);
      }
    }
  }
  .image {
    overflow: hidden;
    border-radius: 4px;
    width: 100%;
    height: 38.3rem;
    margin-bottom: 2.4rem;
    img {
      transition: transform 0.3s ease-in;
    }
  }
  .info {
    h3 {
      font-weight: 600;
      font-size: 1.8rem;
      line-height: 2.7rem;
      color: #e5e5e5;
      margin-bottom: 4px;
      font-size: 14px;
      line-height: 21px;
      color: rgba 229, 229, 229, 0.8;
    }
    span {
      font-size: 1.4rem;
      line-height: 2.1rem;
      color: rgba(255, 255, 255, 0.818);
    }
  }
}
